body {
  overflow-x: hidden;
}
.menulist {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 40px;
}
.menu {
  width: 100vw;
  height: auto;
}
.div2 {
  display: flex;
  width: 100vw;
  height: 100vh;
  position: relative;
  background-color: azure;
  padding-bottom: 250px;
  left: -50px;
}
.menutype {
  position: absolute;
  width: 70%;
  height: 100vh;
  padding-left: 50px;
  padding-left: 50px;
}
.summary {
  position: absolute;
  right: 0;
  display: flex;
  padding-left: 10px;
  flex-direction: column;
  background-color: white;
  width: 30%;
  color: black;
  height: 100vh;
  border-left: 2px solid black;
  padding-bottom: 250px;
}
@media only screen and (max-width: 768px) {
  .menulist {
    grid-template-columns: 1fr;
    width: 100%;
  }
}
.menutitle {
  margin-top: 90px;
  font-family: fantasy;
  letter-spacing: 3px;
  font-size: 50px;
  color: black;
}
.menuitem {
  display: flex;
  background-color: white;
  margin-bottom: 10px;
  width: 200px;
  flex-direction: column;
  height: 270px;
  align-items: center;
  border-radius: 10px;
  box-shadow: 5px 5px 15px rgba(241, 238, 238, 0.2);
  overflow: hidden;
  padding-bottom: 10px;
  box-shadow: 2px 2px 5px grey;
}
.itemimage {
  margin-top: -10px;
  width: 100%;
  height: 160px;
  object-fit: cover;
  box-shadow: 0px 5px 10px rgba(100, 100, 100, 100);
}
.itemname {
  color: black;
  padding: 5px;
  font-size: 20px;
  margin: 0;
  margin-top: 20px;
}
.itemprice {
  color: black;
  font-weight: 800;
  margin: 0;
}
@media (max-width: 768px) {
  .menuitem {
    width: 305px;
    height: 400px;
  }
  .itemimage {
    width: 100%;
    height: 250px;
  }
  .itemname {
    font-size: 30px;
  }
  .itemprice {
    font-size: 30px;
  }
}

.summaryorders {
  display: grid;
  grid-template-columns: auto auto;
  gap: 20px;
}
.summaryitem {
  box-shadow: 2px 2px 5px black;
  width: 120px;
  height: 200px;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  z-index: 1;
}
.summaryimage {
  width: 120px;
  height: 120px;
  object-fit: cover;
}
.summaryname {
  font-size: 12px;
}
.summaryprice {
  font-size: 12px;
  font-weight: bold;
}
.delete {
  position: absolute;
  bottom: -17px;
  right: -2px;
  background-color: black;
  width: 25px;
  border-radius: 15px;
  color: white;
  cursor: pointer;
}
.summarytitle {
  margin-top: 90px;
  font-family: sans-serif;
  letter-spacing: 3px;
  font-size: 30px;
  font-weight: bold;
}
.noitems {
  font-size: 16px;
  font-style: italic;
  margin-top: 150px;
  margin-left: 50px;
  background-color: rgb(255, 215, 162);
  border-radius: 20px;
  padding: 20px;
}
.checkout {
  position: absolute;
  width: 100%;
  bottom: 20px;
  background-color: white;
  color: black;
  right: 0px;
  border: 2px solid black;
  z-index: 2;
}
